* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    background-image: url(./image/body.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(190, 148, 121);
    font-family: 'IM Fell English SC', serif;
    font-family: 'Titillium Web', sans-serif;
    text-shadow: -1px -1px 1px rgba(255, 255, 255, .1), 1px 1px 1px rgba(0, 0, 0, .5);

}

nav {
    width: 92%;
    margin-left: 4%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 5%;
    z-index: 1;
    animation-name: nav-hover;
    animation-duration: 1.5s;
    transition: ease-in-out;
    font-size: 1.3rem;
    border-bottom: 1px solid gray;
    border-radius: .5px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 2px 0px;
    
}

@keyframes nav-hover {
    0% {
        opacity: 0;
        top: 0;
    }

    100% {
        opacity: 1;
    }
}

.left-nav {
    color: rgb(99, 99, 99);
    letter-spacing: 1px;
}


.left-nav p {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -1.3rem;

}

.fa-laptop-code {
    text-shadow: none;
    font-size: .8rem;
    opacity: .5;
}

.center-nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

.center-nav ul li {
    margin-left: 2vw;
}

.center-nav ul li a {
    text-decoration: none;
    color: rgb(61, 61, 61);
    transition: .5s ease-in-out;
}

.center-nav ul li a:hover{
    color:  rgb(255, 187, 0);
    text-transform: uppercase;
    font-weight: 600;
    border-bottom: 1.5px solid rgb(255, 187, 0); 
}

.right-nav p a {
    background-color:;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    background-color: rgba(255, 212, 93, 0.726);
    letter-spacing: 1.5px;
}

.right-nav :hover{
    background-color: black;
    color: rgb(255, 187, 0);
}

.container-1 {
    margin: 5vh auto;
    width: 96%;
    height: 90vh;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.89);
    display: flex;
    border-bottom: 3px solid gray;
}

.container-1 p {
    line-height:1.5rem;
    margin-top: 3%;
    letter-spacing: .5px;
    padding-right: 35%;
}

.sub-container-1 {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0% 5%;
    justify-content: center;
    align-items: flex-start;
    font-size: 1.2rem;
    line-height: 45px;
    text-shadow: -1px -1px 1px rgba(255, 255, 255, .1), 1px 1px 1px rgba(0, 0, 0, .5);
}

.sub-container-1 .contact-me{
    width: 100%;
    margin-top: 5%;
    display: flex;
    justify-content: start;
}

.sub-container-1 .contact-me button{
    color: black;
    padding: 2.5% 4%;
    border-radius: 5px;
    letter-spacing: .5px;
    transition: .5s ease-in-out;
    border: none;
}

button a{
    color: black;
    text-decoration: none;
    font-size: 1rem;
    font-weight:600;
}

button:first-child:hover a{
    color: rgb(255, 187, 0) ;
}

button:last-child:hover a{
    color: rgb(86, 209, 209);
}

.sub-container-1 .contact-me button:first-child:hover{
    background-color: rgb(0, 0, 0);
}

.sub-container-1 .contact-me button:last-child:hover{
    background-color: rgb(0, 0, 0);
}

.sub-container-1 .contact-me button:last-child{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    background-color: rgba(177, 233, 255, 0.555);
    margin-left: 2%;

}

.sub-container-1 .contact-me button:first-child{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    background-color: rgba(255, 212, 93, 0.726);
    
}
.sub-container-2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation-name: nasim;
    animation-duration: 5s;
    transform: scale(1); 
}

.sub-container-2 img {
    width: 45%;
    height: 45%;
    border-radius: 50%;
    border: #c78c67af solid 1.1vw;
    z-index: 1;
    box-shadow: rgba(248, 181, 119, 0.363) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    transform: rotate(-5deg);
}


.first-border {
    width: 45%;
    height: 45%;
    border-radius: 50%;
    border: 1vw solid #ccbe71c9;
    box-shadow: rgba(172, 156, 66, 0.774) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    position: absolute;
    background-size: 100%;
    top: 25%;
    left: 28%;
}

.second-border {
    width: 45%;
    height: 45%;
    border-radius: 50%;
    border: #75daf85d solid 1vw;
    box-shadow: rgba(94, 168, 187, 0.397) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    position: absolute;
    top: 25%;
    right: 30%;
}


/* @keyframes nasim{
    0% {
        transform: scale(.7);
    }

    100% {
        transform: scale(.75);
    }
} */


.line-1,
.line-2 {
    width: 100%;
    border-right: 1px solid rgba(0, 0, 0, 0.75);
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    letter-spacing: 1px;
}

.line-2 {
    border-right-color: rgba(255, 255, 255, 0);
}

/* Animation */
.anim-typewriter {
    animation: typewriter 3s steps(44) .5s 1 normal both,
        blinkTextCursor 500ms steps(44) infinite normal;
}

.anim-typewriter-2 {
    animation: typewriter-2 1.75s steps(22) 3.5s 1 normal both,
        blinkTextCursor-2 500ms steps(44) 3.5s infinite normal;
}

@keyframes typewriter {
    from {
        width: 0;
    }

    to {
        width: 18em;
        color: #f1ac51;
    }
}

@keyframes blinkTextCursor {
    from {
        border-right-color: rgba(0, 0, 0, 0.75);
    }

    to {
        border-right-color: transparent;
    }
}

@keyframes typewriter-2 {
    from {
        width: 0;
    }

    to {
        width: 10.8em;
        color: #6bcbe9;
    }
}

@keyframes blinkTextCursor-2 {
    from {
        border-right-color: rgba(0, 0, 0, 0.75);
    }

    to {
        border-right-color: transparent;;
    }
}