* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    background-image: url(./image/body.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(190, 148, 121);
    font-family: 'IM Fell English SC', serif;
    font-family: 'Titillium Web', sans-serif;
    text-shadow: -1px -1px 1px rgba(255, 255, 255, .1), 1px 1px 1px rgba(0, 0, 0, .5);

}

nav {
    width: 92%;
    margin-left: 4%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 5%;
    z-index: 1;
    animation-name: nav-hover;
    animation-duration: 1.5s;
    transition: ease-in-out;
    font-size: 1.3rem;
    border-bottom: 1px solid gray;
    border-radius: .5px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 2px 0px;

}

@keyframes nav-hover {
    0% {
        opacity: 0;
        top: 0;
    }

    100% {
        opacity: 1;
    }
}

.left-nav {
    color: rgb(99, 99, 99);
    letter-spacing: 1px;
}

.letter-n {
    color: rgb(255, 187, 0);
    font-size: 2.3rem;
}

.letter-r {
    color: rgb(86, 209, 209);
    font-size: 1.6rem;
}

.left-nav h1:hover {
    color: rgb(86, 209, 209);
    animation: wiggle 250ms infinite;
    animation-timing-function: linear;
    position: relative;

}

.letter-r:hover {
    color: rgb(255, 187, 0);
}

.letter-n:hover {
    color: rgb(86, 209, 209);
}

@keyframes wiggle {
    0% {
        transform: translate(2px, 0);
        color: rgb(255, 187, 0);
    }

    50% {
        transform: translate(-2px, 0);
    }

    100% {
        transform: translate(2px, 0);
        color: rgb(86, 209, 209);
    }
}


.left-nav p {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -1.2rem;
    font-size: 1.1rem;

}

.fa-laptop-code {
    text-shadow: none;
    font-size: 1rem;
    opacity: .5;
}

.center-nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

.center-nav ul li {
    margin-left: 2vw;
}

.center-nav ul li a {
    text-decoration: none;
    color: rgb(61, 61, 61);
    transition: .5s ease-in-out;
}

.center-nav ul li a:hover {
    color: rgb(255, 187, 0);
    text-transform: uppercase;
    font-weight: 600;
    border-bottom: 1.5px solid rgb(255, 187, 0);
}

.right-nav p a {
    font-weight: bold;
    padding: 6px 20px 10px;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    background-color: rgba(255, 212, 93, 0.726);
}

.right-nav :hover {
    background-color: black;
    color: rgb(255, 187, 0);
    text-transform: capitalize;
}

.container-1 {
    margin: 4vh auto;
    width: 96%;
    height: 90vh;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.89);
    display: flex;
    border-bottom: 3px solid gray;
}

.container-1 p {
    line-height: 1.5rem;
    margin-top: 1rem;
    letter-spacing: .4px;
}

.sub-container-1 {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0 5rem;
    justify-content: center;
    align-items: flex-start;
    text-shadow: -1px -1px 1px rgba(255, 255, 255, .1), 1px 1px 1px rgba(0, 0, 0, .5);
}

.linear-line{
    width: 200px;
    height: 5px;
    background-image: linear-gradient(to right,rgb(255, 187, 0),rgb(86, 209, 209));
    border-radius: 2px;
    margin-bottom: 1.5rem;
    animation: linear-line;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes linear-line {
    0%{
        background-image: linear-gradient(to right,rgb(255, 187, 0),rgb(86, 209, 209));
    }
    100%{
        background-image: linear-gradient(to right,rgb(86, 209, 209),rgb(255, 187, 0));
    }
    
}
.sub-container-1 p {
    width: 70%;
    font-size: 1.1rem;
    font-weight: 400;
    letter-spacing: 1.3px;
    color: rgb(77, 77, 77);
}

.sub-container-1 ul {
    list-style-type:disc;
    padding-left: 1.7rem;
    letter-spacing: 1px;
    color: rgb(77, 77, 77);
}

.sub-container-1 .wrapper-p {
    visibility: hidden;
    animation-name: wrapper-p;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-delay: 5s;
}

@keyframes wrapper-p {

    0% {
        visibility: visible ;
        opacity: 0;
    }

    100% {
        visibility: visible ;
        opacity: 1;
        
    }

}

.sub-container-1 .contact-me {
    width: 100%;
    margin-top: 1.5rem;
    display: flex;
    justify-content: start;
}

.sub-container-1 .contact-me button {
    color: black;
    padding: .5rem 1rem;
    border-radius: 5px;
    letter-spacing: .05rem;
    transition: .5s ease-in-out;
    border: none;
}

button a {
    color: black;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    transition: .5s ease-in-out;
}

button:first-child:hover a {
    color: rgb(255, 187, 0);
    text-transform: capitalize;
}

button:last-child:hover a {
    color: rgb(86, 209, 209);
    text-transform: capitalize;
}

.sub-container-1 .contact-me button:first-child:hover {
    background-color: rgb(0, 0, 0);
}

.sub-container-1 .contact-me button:last-child:hover {
    background-color: rgb(0, 0, 0);
}

.sub-container-1 .contact-me button:last-child {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    background-color: rgba(177, 233, 255, 0.555);
    margin-left: 2%;

}

.sub-container-1 .contact-me button:first-child {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    background-color: rgba(255, 212, 93, 0.726);

}

.sub-container-2 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: nasim;
    animation-duration: 1s
}

.wrapper {
    width: 25rem;
    height: 25rem;
    position: relative;
}

.sub-container-2 img {
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    border: #c78c67af solid 1rem;
    z-index: 1;
    box-shadow: rgba(248, 181, 119, 0.363) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    transform: rotate(-5deg);
}


.first-border {
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    border: 1rem solid #ccbe71c9;
    box-shadow: rgba(172, 156, 66, 0.774) 0px -23px 25px 0px inset, rgba(43, 34, 34, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    position: absolute;
    background-size: 100%;
    top: 2rem;
    left: 2rem;
    transform: rotate(-5deg);

}

.second-border {
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    border: #75daf85d solid 1rem;
    box-shadow: rgba(94, 168, 187, 0.397) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    position: absolute;
    top: -2rem;
    right: 2rem;
    transform: rotate(-5deg);

}


.line-1,
.line-2 {
    width: 100%;
    border-right: 1px solid rgba(0, 0, 0, 0.75);
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    letter-spacing: 1px;
}

.line-2 {
    border-right-color: rgba(255, 255, 255, 0);
}

/* Animation */
.anim-typewriter {
    animation: typewriter 3s steps(44) .5s 1 normal both,
        blinkTextCursor 500ms steps(44) infinite normal;
}

.anim-typewriter-2 {
    animation: typewriter-2 1.75s steps(22) 3.5s 1 normal both,
        blinkTextCursor-2 500ms steps(44) 3.5s infinite normal;
}

@keyframes typewriter {
    from {
        width: 0;
    }

    to {
        width: 18em;
        color: #f1ac51;
    }
}

@keyframes blinkTextCursor {
    from {
        border-right-color: rgba(0, 0, 0, 0.75);
    }

    to {
        border-right-color: transparent;
    }
}

@keyframes typewriter-2 {
    from {
        width: 0;
    }

    to {
        width: 9.6em;
        color: #6bcbe9;
    }
}

@keyframes blinkTextCursor-2 {
    from {
        border-right-color: rgba(0, 0, 0, 0.75);
    }

    to {
        border-right-color: transparent;
        ;
    }
}
/* beginning of container-2 */

.container-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 92%;
    height: 50px;
    margin: 0 4%;
    position: absolute;
    bottom: 90px;
    color:rgb(75, 73, 73);
    letter-spacing: 1px;
    font-size: 1.3rem;
    border-top: 1.5px solid gray;
    padding-top: 1.5rem;
    border-radius: .5px;
    animation:my-expertise;
    animation-duration: 1.5s;
}

@keyframes my-expertise {
    0% {
        opacity: 0;
        bottom: 0;
    }

    100% {
        opacity: 1;
    }
}

.left-item span:nth-child(3){
    margin-left: 10px;
}

.left-item p:hover :nth-child(odd){
    text-transform: capitalize;
    color: black;
}

.right-item{
    display: flex;
    margin-bottom: 20px;
}

.right-item img{
    width: 35px;
    margin-left: 4rem;
    padding-top: 1.5rem;
    
}

.right-item img:hover{
    animation: logo-hover 1s infinite;
    animation-timing-function: linear;  
}

@keyframes logo-hover {
    0% { transform: scale(1); }
    50% { transform: scale(1.3)}
    100% { transform: scale(1); }
}

/* media screen size */

@media only screen and (max-width: 1200px) {
  .wrapper ,.wrapper div, .wrapper img{
      width: 20rem;
      height: 20rem;
  }

  .wrapper img, .wrapper ,.wrapper div{
    border-width: .7rem;
}

}


@media only screen and (max-width: 992px) {
    .wrapper ,.wrapper div, .wrapper img{
        width: 15rem;
        height: 15rem;
    }

    .wrapper img, .wrapper ,.wrapper div{
        border-width: .5rem;
    }

    .sub-container-1{
        font-size: small;
    }

    nav {
        font-size: medium; 
    }

    .container-2{
        flex-direction: column;
        justify-content: center;
    }

    .right-item{
        position: absolute;
        margin-bottom: -1.5rem;
    }

    .right-item img{
        width: 30px;
        margin-left: 2rem;
        position: relative;
        top: -.6rem;
    }

    .left-item{
        position: relative;
        top: -1.25rem;
        letter-spacing: -2px;
        font-size: 1rem;
        opacity: .75;
        font-family: sans-serif;
    }

    .right-footer p{
        margin-left: 5px;
    }
  }

  @media only screen and (max-width: 768px) {

    .container-1{
        width: 100vw;
        border-radius: 0px;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .sub-container-2{
        position: relative;
        top: -4rem;
        left: -3rem;
    }
    
    .sub-container-1 .wrapper-p p{
        font-size: small;
        line-height: 15px;
        letter-spacing: 1px;
    }

    .sub-container-1 .wrapper-p li{
        font-size: small;
        line-height: 15px;
    }

    button a{
        font-size: small;
    }

    .wrapper ,.wrapper div, .wrapper img{
        width: 10rem;
        height: 10rem;
        border-radius: 1rem;
    }

    .wrapper img{
    border: #c78c67af solid .25rem;
        
    }

    .wrapper .first-border{
    border: .25rem solid #ccbe71c9;

    }

    .wrapper .second-border{
    border: #75daf85d solid .25rem;

    }

    .fas{
        font-size: smaller;
    }

    .wrapper-p{
        font-size: 1rem;
    }

    nav .right-nav p a{
        padding: 5px 10px;
    }

    .right-footer p{
        margin-left: 15px;
    }

    .right-footer p a{
        font-size:small;
    }

    .left-footer{
        font-size: x-small;
    }
          
  }

  @media only screen and (max-width: 375px) {
    .sub-container-1{
        font-size: x-small;
    }

    nav {
        font-size: x-small; 
    }

    .right-footer p a{
        font-size: xx-small;
    }
      
    .left-footer{
        font-size: xx-small;
    }
  }
/* Beggining of footer */

footer{
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 1.1rem;
}

.right-footer{
    display: flex;
}

.right-footer p{
    margin-left: 30px;
}
.right-footer p a{
    color: white;
}
  
  

  
  
